# Environment variables
.env
.env.local
.env*.local

# Node modules
node_modules/

# Python
venv/
__pycache__/
*.pyc

# Model filess
model/

#claude
.claude

# Build output
dist/
*.js.map
*.d.ts

# OS files
.DS_Store