:root, .App {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  


}
a {
  font-weight: 500;
  color: #23063f;
  text-decoration: inherit;
}
a:hover {
  color: #1a48ad;
}


button:hover {
  border-color: #8084c4;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #752a2a;
  }
  a:hover {
    color: #d7d8db;
  }
  button {
    background-color: #bd6e6e;
  }
}
